body {
  margin: 0;
  padding: 0;
  color: green;
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
h1 {
  font-size: 60px;
}
.logo {
  width: 100px;
}