.stack-wrapper{
	margin: 0 auto;
	position: relative;
	z-index: 1000;
	width: 320px;
	height: 320px;
	padding: 0;
	list-style: none;
	pointer-events: none;
}
.controls{
	position: relative;
	width: 200px;
	text-align: center;
	display:flex;/*Flex布局*/
	display: -webkit-flex; /* Safari */
	justify-content:space-around;
	margin: 0 auto;
	margin-top: 50px
}
.controls .button {
	border: none;
	background: none;
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	width: 50px;
	height: 50px;
	z-index: 100;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border-radius: 50%;
	background: #fff;
}
.button .next{
	display: inline-block;
	width: 13px;
	height:5px;
	background: rgb(129,212,125);
	line-height: 0;
	font-size:0;
	vertical-align: middle;
	-webkit-transform: rotate(45deg);
	left: -5px;
	top: 2px;
	position: absolute;
    left: 20px;
    top: 19px;
}
.button .next:after{
	position: absolute;
	top: 11px;
    left: 7px;
	content:'/';
	display:block;
	width: 13px;
	height:5px;
	background: rgb(129,212,125);
	-webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);
}
.button .prev{
	display: inline-block;
	width: 13px;
	height:5px;
	background: rgb(230,104,104);
	line-height: 0;
	font-size:0;
	vertical-align: middle;
	-webkit-transform: rotate(45deg);
	position: absolute;
    left: 17px;
    top: 26px;
}
.button .prev:after{
	content:'/';
	display:block;
	width: 13px;
	height:5px;
	background: rgb(230,104,104);
	-webkit-transform: rotate(-90deg);
    top: -4px;
    left: -4px;
    position: absolute;
}
.controls .text-hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
	display: block;
}