body {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}

#header {
    position: relative;
    text-align: center;
    line-height: 44px;
}

#header p {
    color: #333;
    font-size: 18px;
}

/*-----安全提示部分------*/

#safe_type {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #ffffff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#safe_type span {
    position: relative;
    padding-left: 24px;
    font-size: 11px;
}

#safe_type span::before {
    content: "";
    background: url(../images/cart/safe_icon.png) no-repeat;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0;
    left: 0;
}

/*-------订单列表--------*/
#orderList {
    margin-top: 10px;

    /*border: 1px solid #ccc;*/
}

#orderList section {
    margin-bottom: 20px;
    background: #fff;
}

#orderList section .title {
    height: 36px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 36px;
}

/*未选中单选框*/
.checkBox {
    background: url(../images/cart/shop-icon.png) no-repeat;
    background-size: 50px 100px;
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}

.checkBox[checked] {
    background-position: -25px 0;
}

#orderList section .title img {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-left: 6px;
}

#orderList section .title span:nth-of-type(2) {
    font-size: 16px;
    float: left;
    margin-left: 5px;
}

#orderList section .title span:nth-of-type(3) {
    float: right;
    color: #e9232c;
    font-size: 12px;
    margin-right: 8px;
}

#orderList section ul {
    width: 100%;

}

#orderList section ul li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

/*左侧单选框*/
#orderList section ul li .left {
    float: left;
    width: 28px;
    height: 28px;
}

/*右侧内容*/
#orderList section ul li .right {
    overflow: hidden;
    padding-left: 6px;
}

#orderList section ul li .right a {
    display: block;
    width: 80px;
    height: 80px;
    float: left;
}

#orderList section ul li .right a img {
    width: 80px;
    height: 80px;
}

#orderList section ul li .right .description {
    overflow: hidden;
    padding-left: 14px;
    padding-right: 8px;
}

/*产品信息*/
#orderList section ul li .right .description p {
    font-size: 12px;
    color: #666;
    line-height: 20px;
    overflow: hidden;
    height: 40px
}

/*价格*/
#orderList section ul li .right .description > span {
    color: #e9232c;
}

/*数量*/
#orderList section ul li .right .description .description_bottom {
    width: 100%;
}

.description .description_bottom .number {
    float: left;
}

.description .description_bottom .number span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #cccccc;
    float: left;
}

/*数量 + -  */
.description .description_bottom .number span:nth-of-type(1) {
    border-radius: 3px 0 0 3px;
}

.description .description_bottom .number span:nth-of-type(2) {
    border-radius: 0 3px 3px 0;
}

.description .description_bottom .number input {
    width: 60px;
    float: left;
    height: 20px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-left: 4px;
}

/*垃圾桶*/
.description .description_bottom .delete {
    float: right;
}

.description .description_bottom .delete span:nth-of-type(1) {
    background: url(../images/cart/delete_up.png) no-repeat;
    background-size: 18px 4px;
    width: 18px;
    height: 4px;
    display: block;
}

.description .description_bottom .delete span:nth-of-type(2) {
    background: url(../images/cart/delete_down.png) no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    display: block;
    margin-top: -2px;
}

/*------弹出层-------*/
.panel {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;

    display: none;
}

.panel .panelBox {
    width: 80%;
    text-align: center;
    background-color: #fff;
    margin: 200px auto;
    padding: 20px;
    border-radius: 6px;
}

.panel .panelBox span {
    display: block;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.panel .panelBox a {
    display: block;
    float: left;
    width: 120px;
    height: 40px;

    text-align: center;
    line-height: 40px;
    font-size: 16px;

    border: 1px solid #cccccc;
    border-radius: 6px;
    margin-top: 30px;

    color: #333;
}

.panel .panelBox a:nth-of-type(2) {
    float: right;
    background: #e9232c;
    color: #ffffff;
}

.fixBar {
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 540px;
    height: 50px;
    background: hsla(0,0%,100%,.95);
    color: #333;
    font-size: 14px;
    position: fixed;
    z-index: 99;
    bottom: 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}
.fixBar:before {
    border-color: #ddd;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
    .additional_buying_btm:before, .fixBar:before, .select_list li:before, .shopcart_merge .shop_list:before, .sub_wrap_coupons .coupon_hr:before {
        -webkit-transform: scaleY(.5);
        -webkit-transform-origin: 50% 0;
    }
}

.additional_buying_btm:before, .fixBar:before, .select_list li:before, .shopcart_merge .shop_list:before, .sub_wrap_coupons .coupon_hr:before {
    content: "";
    height: 0;
    display: block;
    border-top: 1px solid #ddd;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.fixBar .icon_select {
    width: 40px;
    padding-top: 32px;
    font-size: 10px;
    text-align: center;
    height: 15px;
    color: #999;
}
.icon_select {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 43px;
}
em, i {
    font-style: normal;
}
.fixBar .icon_select:after {
    top: 7px;
}
.selected .icon_select:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAANlBMV…83rutdc9LMR8F+uOzH1T4A9iPFPqTsY88+SO2j2T7szdfHHy1xS+1j0wOxAAAAAElFTkSuQmCC);
}
.icon_select:after {
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAABGdBT…XosAYy1ujAHnFYoxhrYsCebLAmMKxJEXuixZ68sWYE9CwDAH0nU0cSKDB5AAAAAElFTkSuQmCC);
    background-size: 20px;
}
.fixBar .total {
    position: absolute;
    top: 0;
    right: 0;
}
.fixBar .total p {
    padding-top: 10px;
    font-weight: 700;
    line-height: 1em;
    height: 50px;
    text-align: right;
    float: left;
    font-size: 16px;
}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.fixBar .total strong {
    color: #e4393c;
}
.additional_buying .header .price, .additional_buying .share_list_item .price, .additional_buying .share_list_item .text em, .additional_buying_btm .price, .fixBar .total small, .fixBar .total strong, .layer_select dd em, .layer_select li em, .section .foot .go_merge .arial, .select_list .price, .service_link strong, .shopcart_merge .shop_list .good .price {
    font-family: arial;
}
.fixBar .total small {
    padding-top: 2px;
    display: block;
    font-size: 10px;
    color: #999;
    font-weight: 400;
}
.fixBar .total .buy {
    float: right;
    display: block;
    width: 110px;
    height: 50px;
    margin-left: 10px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}
.fixBar .total .buy {
    background: #e4393c;
    color: #fff;
}
a, a:visited {
    text-decoration: none;
    color: #333;
}
.fixBar .total .buy em {
    font-weight: 400;
    font-size: 12px;
    font-family: none;
}
em, i {
    font-style: normal;
}









/*动画效果*/

.jump {
    animation: jump 0.8s ease;
}

@keyframes jump{
    0%{
        transform: translateY(-3000px);
    }
    65%{
        transform: translateY(30px);
    }
    80%{
        transform: translateY(-20px);
    }
    90%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}


