<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue京东购物车demo</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/cart.css">
</head>
<body>
    <div id="app">
        <div class="main_wrap">
            <header id="header">
                <a href="javascript:;" class="icon_back"></a>
                <p>购物车</p>
                <a href="javascript:;" class="icon_menu"></a>
            </header>
            <!--安全提示-->
            <div id="safe_type">
                <span>你正在安全环境购物中,请放心购物</span>
            </div>
            <!--订单列表-->
            <div id="orderList">
                <section class="order" v-for="shop in allShopList">
                    <div class="title">
                        <span class="checkBox" @click="toggleSelectShop(shop)" :checked="shop.selected"></span>
                        <img :src="shop.shopImage">
                        <span v-text="shop.shopName"></span>
                        <span>您享受满99元免运费服务</span>
                    </div>
                    <ul>
                        <li v-for="item in shop.shopList">
                            <div class="left">
                                <span class="checkBox" @click="toggleSelectItem(shop, item)" :checked="item.selected"></span>
                            </div>
                            <div class="right">
                                <a href=""><img :src="item.image" alt=""></a>
                                <div class="description">
                                    <p v-text="item.name"></p>
                                    <!-- <span v-text="item.price | moneyformat(item.price)"></span> -->
                                    <span >{{item.price | moneyformat(item.price)}}</span>
                                     
                                    <div class="description_bottom">
                                        <div class="number">
                                            <span> - </span>
                                                <input type="tel" v-model="item.mount">
                                            <span> + </span>
                                        </div>
                                        <div class="delete">
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>

            <!--弹出层-->
            <div class="panel">
                <div class="panelBox clearfix jump">
                    <span>你确认要删除这个商品吗？</span>
                    <a href="javascript:;" >取消</a>
                    <a href="javascript:;">确定</a>
                </div>
            </div>

            <div class="fixBar" name="checkgroup" id="fixBarBot">
                <i class="select_btn" v-on:click="selectAll()" :selected="isAllSelected">全选</i>
                <div class="total" id="totalConfirmDiv"><p>总计：<strong id="totalPrice">¥1049.00</strong><small><span id="totalBackMoney">总额¥1149.00 立减¥100.00</span></small></p><a href="javascript:;" class="buy buyJs" attr-tag="confirmEve">去结算<em attr-tag="confirmEve" id="totalNum" totalnum="3">(3件)</em></a></div>
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script>
        let allShopList = [
            {shopName: "京东自营", shopList:[
                {name:"【京东超市】路易拉菲2009珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【京东超市】路易拉菲2010珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【京东超市】路易拉菲2011珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【京东超市】路易拉菲2012珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【京东超市】路易拉菲2013珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
            ], shopImage:"images/cart/buy-logo.png"},
            {shopName: "shop A", shopList:[
                {name:"【shop A】路易拉菲2009珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【shop A】路易拉菲2010珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【shop A】路易拉菲2011珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【shop A】路易拉菲2012珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【shop A】路易拉菲2013珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
            ], shopImage:"images/cart/buy-logo.png"},
            {shopName: "shop B", shopList:[
                {name:"【shop B】路易拉菲2009珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【shop B】路易拉菲2010珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【shop B】路易拉菲2011珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【shop B】路易拉菲2012珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
                {name:"【shop B】路易拉菲2013珍酿原酒进口红酒男爵古堡干红葡萄酒 红酒整箱6支礼盒装", mount:1, price: 102, image:"images/cart/detail1.jpg"},
            ], shopImage:"images/cart/buy-logo.png"}
        ];
 
        /*let filters = {
            moneyformat(value){
                return "￥" + value.tofixed(2);
            }
        }*/
        Vue.filter('moneyformat', function (value) {
            return "￥" + value.toFixed(2);             
        });

        let vm = new Vue({
            el:"#app",
            data:{
                allShopList : allShopList,
                isAllSelected : false,
                totalFee: 0
            },

            /*filters : {
                moneyformat(value){
                    return "￥" + value.toFixed(2);
                }
            }, */

            methods:{
                 
                toggleSelectShop(shop){

                    if(typeof shop.selected == 'undefined'){
                        this.$set(shop, "selected", true);
                    } else {
                        shop.selected = !shop.selected;
                    }
                    
                    shop.shopList.forEach(item => {
                        
                        if(typeof item.selected == 'undefined'){
                            this.$set(item, "selected", shop.selected);
                        } else {
                            item.selected = shop.selected;
                        }

                    });
                     
                    this.isSelectedAll(); 
                },
                
                toggleSelectItem(shop, item){
                    if(typeof item.selected == 'undefined'){
                        this.$set(item, "selected", true);
                    } else {
                        item.selected = !item.selected;
                    }
                    
                    let isAllSelected = true;

                    shop.shopList.forEach(el => {
                        if(!el.selected){
                            isAllSelected = false;
                        }
                    })

                    if(typeof shop.selected == 'undefined'){
                        this.$set(shop, "selected", isAllSelected);
                    } else {
                        shop.selected = isAllSelected;
                    }
                    
                    this.isSelectedAll(); 
                },

                selectAll(){
                    this.isAllSelected = !this.isAllSelected;
                    this.allShopList.forEach(shop => {
                        shop.selected = this.isAllSelected;
                        shop.shopList.forEach(item => {
                            if(typeof item.selected == 'undefined'){
                                this.$set(item, "selected", this.isAllSelected);
                            } else {
                                item.selected = this.isAllSelected;
                            }
                            
                        })
                    });
                },

                isSelectedAll(){
                    let isAllSelected = true; 
                    this.allShopList.forEach(shop => {
                        if (!shop.selected) {
                            isAllSelected = false;
                        }
                        shop.shopList.forEach(item => {
                            if (!item.selected) {
                                isAllSelected = false;
                            }
                        })
                    });

                    this.isAllSelected = isAllSelected;
                }


            }
            
        });
    
    
    </script>
</body>
</html>